.user-view {
  margin-top: 2rem;
}

.user-view img {
  width:100%;
}

#showMessages {
  height: 45vh;
  padding-bottom: 2rem;
}

#fileupl .btn{
  width: auto;
}

#convo {
    
    
    height: 500px;
    overflow: scroll;
}
