/*!! Accent Colors !!*/
:root {
  --accent-color: #1976d2;
  /* TODO: Need to find a way to take this from class and then apply it where needed
  Cause just adding materialze classes doesn't change everything.*/
}

form.accented button, form.accented button:hover {
  background-color: var(--accent-color);
}

form.accented input:focus:not([readonly]) {
  border-bottom-color: var(--accent-color);
  box-shadow: 0 1px 0 0 var(--accent-color);
}

form.accented input:focus:not([readonly])+label {
  color: var(--accent-color);
}

form.accented .dropdown-content li span {
  color: var(--accent-color);
}

/*!! Page !!*/

body {
  display: flex;
  flex-direction: column;
}

header {
  z-index: 50;
}

header .brand-logo {
  margin-left: 15px;
}

nav i.material-icons {
  font-size: 2.5rem;
  margin-right: 15px;
}

main {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

form .row .btn {
  width: 100%;
}

footer {
  text-align: center;
  font-style: italic;
  position: fixed;
  bottom: 0px;
  width: 100%
}

#user-options {
  margin-top: 4rem;
}

.other{
    text-align:right;
}

.server{
    text-align:center;
}

.me{
    text-align:left;
}
